@media (max-width: 590px) {
    #experience-link {
        display: none;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h2 {
        font-size: 1.5rem;
    }

    .gallery-container {
        display: none;
    }

    .mobile-title {
        display: block;
    }
    .animated-portfolio-title {
        display: none;
    }

    .social-links {
        display: none;
    }

    .bio-section {
        display: none;
    }
}