.gallery-container {
  display: flex;
  flex: 1;
  max-width: 1440px;
  padding: 0 3rem;
  margin: 0 auto;
  overflow: auto;
  align-items: flex-start;
  justify-content: center;
}

.galleryCardItem {
  flex: 1 1 1%;
  position: relative;
  opacity: 0.2;
  transition: flex 600ms cubic-bezier(0.25, 1, 0.5, 1), opacity 250ms ease;
  filter: grayscale(1);
}

.galleryCardItem:hover {
  flex-basis: 30%;
  filter: grayscale(0);
}

.card__inner {
  margin: 0.25rem;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.galleryCardItem picture {
  width: 100%;
  height: 0;
  padding-bottom: 600px;
  overflow: hidden;
  position: relative;
}

.galleryCardItem picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.galleryCardItem.is-active,
.galleryCardItem:hover {
  opacity: 1;
}

.galleryCardItem:nth-child(2),
.galleryCardItem:nth-child(5),
.galleryCardItem:nth-child(9) {
  margin-top: 0;
}

.galleryCardItem:nth-child(2),
.galleryCardItem:nth-child(4),
.galleryCardItem:nth-child(6),
.galleryCardItem:nth-child(8),
.galleryCardItem:nth-child(10) {
  margin-top: 2.5%;
}

.galleryCardItem:nth-child(3),
.galleryCardItem:nth-child(7) {
  margin-top: 5%;
}
