/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
} */

.skills-wrapper {
    position: relative;
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skills-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skills-item {
    position: absolute;
    width: calc(80px + (100 * var(--random-size)));
    height: calc(80px + (100 * var(--random-size)));
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    min-width: 80px;
    min-height: 80px;
    max-width: 150px;
    max-height: 150px;
    transform-origin: center;
}

.skills-item img {
    width: 60px;
    height: 60px;
}

.skill-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 0;
    height: 0; */
    overflow: hidden;
    transition: all 0.5s ease;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-content {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 16px;
}

.skill-content img {
    width: 128px;
    height: 128px;
    margin: 10px 0;
}

.skill-title {
    font-size: 24px;
    margin: 10px 0;
}

.skill-description {
    font-size: 16px;
    color: #666;
}
